<footer class="pane footer bg-dark-1">
  <div class="container">
    © Copyright
    <script>
var d = new Date();
document.write(d.getFullYear());
    </script>
    YOUNJIN JEONG
    <span class="removeformobile">•</span>
    <a href="http://kerberosj.tistory.com">Old Blog</a>
    •
    <a href="https://www.facebook.com/younjin.jeong">
      FaceBook
    </a>
      •
    <a class="removeformobile" href="https://www.linkedin.com/in/younjin-jeong-8100651b/">
      Linked In
    </a>
      •
  </div>
</footer>
{{ template "_internal/google_analytics_async.html" . }}
